body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.container {
    border: 2px solid #000;
    padding-bottom: 200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 233, 209);
}

h1 {
    font-size: 60px;
    letter-spacing: 5px;
    text-decoration: underline;
}

#output {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#AddToDo {
    width: 300px;
    height: 30px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    opacity: 1;
    background-color: rgba(255, 254, 254, 1);
   
}

#element:checked~#AddToDo {
    max-width: 300px;
    transition: all 0.5s ease-in;
}

#AddToDo:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    transition: all 0.5s ease-in;
}

#AddToDo:focus{
    background-color: rgba(255, 254, 254, 0.3);
    transition: all 0.5s ease-in;
}

.btn {
    width: 310px;
    background-color: rgb(150, 146, 250);
    height: 35px;
}

.btn:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in;
    background-color: rgb(99, 94, 236);
    color: aliceblue;
}